PORT=3000
JWT_SECRET=change-this-to-a-long-random-secret

DB_HOST=mysql-6bb7226-nodejslabproject.l.aivencloud.com
DB_PORT=10600
DB_USER=avnadmin
DB_PASS=your-aiven-password
DB_NAME=defaultdb
DB_SSL_CA_PATH=./certs/ca.pem

UPLOAD_DIR=public/uploads
